[2018-05-31 05:09] elliotsa opened #1 "Package.json description is from Critters"
Very very minor issue but noticed that the description in package.json is the one for Critters
[code]

[2018-05-31 07:22] gijsroge opened #2 "Question: What do you mean by "Meaningful content"."
Sounds like a great way to optimize performance, but i'm very curious if this will serve actual content pre-rendered, or just some sort of placeholder skeleton?

Thanks for making this!

[2018-05-31 09:36] Mathieu-R opened #3 "TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type object"
Hello !

I tried to prerender my preact application but I get this error.
If I remove `prerender-loader` and just put the path to my index.html I don't get any error.
`Module build failed: TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type object`

I'm using `html-webpack-plugin` like so :
[code]

Thanks for the help ! 😃

[2018-05-31 12:35] splincode opened #4 "It's work in Angular eject?"
If we usage for Angular, that be worked?

[2018-05-31 15:16] warpdesign opened #5 "Using.ejs template: getting "Module build failed: TypeError: Path must be a string.""
I am using an .ejs template, like this:

[code]

I followed the instructions and changed it to:

[code]

But this gives this erorr:

  Module build failed: TypeError: Path must be a string. Received [ 'E:\\Docs\\Dev\\react-500px\\node_modules\\webpack-dev-server\\client\\index.js?http://127.0.0.1:8888',

Is there something special to do when using .ejs (or other format) templates?

My full webpack

[2018-05-31 15:27] rkichenama commented on #3
Looks like in `dist/prerender-loader.js:91`, parentCompiler.options.entry is an object reflecting the `config.entry` object

[2018-05-31 15:28] rkichenama commented on #5
Please see #3

[2018-05-31 15:37] FezVrasta opened #6 "How does this work with apps with routes?"
How can you use this project to pre-render an app that provides different pages at different routes?

[2018-05-31 15:52] warpdesign commented on #5
Hmm... so the problem has nothing to do with the .esj, but more with my webpack configuration.

The `entry` property is an array:

[code]

That's what's in parentCompiler.options.entry where the crash happens.

[2018-05-31 15:53] Mathieu-R commented on #3
Yes, I had on object in config.entry, removed it and no problem now.

[2018-05-31 16:06] tsnieman opened #7 "Can't use html-webpack-plugin templating features"
:bug: Not able to use some of `html-webpack-plugin`'s templating features.

Example from https://github.com/jantimon/html-webpack-plugin/blob/master/README.md#generating-multiple-html-files
[code]

is rendered by this plugin as

[code]

[2018-05-31 20:20] #1 closed

[2018-05-31 20:20] developit commented on #1
Ah! I knew I'd forget one. Fixed.

[2018-05-31 20:32] developit commented on #2
That's actually entirely up to you!  If your app does its entire initial rendering synchronously, you'll get that as the pre-rendered HTML.  In a lot of cases, it would be more common to end up with a pre-rendered "App Shell", since data loading is generally not included when doing the simplest form of prerendering.

However, this is where `prerender-loader` gives you control over what happens:  i

[2018-05-31 20:37] developit commented on #3
Whoops - I should have caught that!  It would be nice if `prerender-loader` took that into account and used the last entry of the Array or the `main` property of an object.

Or, perhaps the best solution would be to check for multi-entry configurations and respect them by using `MultiEntryPlugin` here:
https://github.com/GoogleChromeLabs/prerender-loader/blob/5f667781679351b8f160a0e39e0deb45099d28

[2018-05-31 20:38] developit commented on #5
Yup - looks like we need to take multi-entry configuration into account on this line:
https://github.com/GoogleChromeLabs/prerender-loader/blob/5f667781679351b8f160a0e39e0deb45099d2848/src/index.js#L128

I'll close this out since it's a duplicate of #3.

[2018-05-31 20:38] #5 closed

[2018-05-31 20:38] developit commented on #4
I'm not quite familiar enough with angular-cli's Eject feature to know. Hopefully someone else is and can shed some light!

[2018-05-31 20:44] developit commented on #6
Since the plugin only does prerendering of a source, the way to go here would be to create an instance of HtmlWebpackPlugin for each route.

You can see how `preact-cli` does it here:
https://github.com/developit/preact-cli/blob/master/src/lib/webpack/render-html-plugin.js

In a nutshell, it's roughly:

[code]

[2018-05-31 20:48] developit commented on #7
This is actually more of an EJS problem - ejs templates don't mix nicely with HTML.  I don't have a great recomendation right now other than to avoid using this with ejs templates.  Handlebars should work fine, or skip templating altogether since you can just do:

[code]

[code]

For things folks might have been doing in ejs like script and stylesheet insertion, there are already automated html-we

[2018-05-31 22:12] cvetanov commented on #3
Hello,

First of all kudos to the idea and the actual implementation and thanks for publishing it!
I was about to post a new issue and then I saw this one so here it goes.

I tried it with create-react-app and got the following (similar) error:
[code]

The webpack configuration's entry is an actual array which besides the main bundle, also includes polyfills. Now, this exact use case might not be

[2018-06-01 07:49] tizano commented on #3
Hello,
I have the same issue as @cvetanov
If someone could help us or write an example. That will be great 😄

[2018-06-01 08:50] FezVrasta commented on #6
Thanks! So the result would be several HTML files that should be then served somehow by my own http server?

[2018-06-01 09:03] cvetanov commented on #3
Hi @tizano, a workaround would be to create a new file (let's call it `entry.js`) where you will import all of the files from the array of entries and use that file as a single entry.
Let's say your entries are made up of `['file1.js', 'file2.js', 'index.js']`, then your webpack config would change to `entry: 'entry.js'` and your entry.js file would import all of the files (mind the relative paths

[2018-06-01 12:43] MrEfrem commented on #3
I use conditions logic for build a `entry` array for a different environment (debug, dev, prod), therefore using the single file impossible.

[2018-06-01 15:41] developit commented on #3
It should be fairly straightforward to account for multi-entry bundles and have them work out-of-the-box in prerender-loader.

[2018-06-01 15:44] developit commented on #6
yup! each with their own independent static HTML (and initial state, titles, etc that you might have injected during prerendering).

[2018-06-01 18:11] CarrierDirectRoss commented on #3
I am receiving the same error `Module build failed: TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type object`

with a config.entry of
`entry: './main.jsx',`

and a loader configuration of
[code]

[2018-06-01 20:16] developit commented on #3
@CarrierDirectRoss are you sure there isn't a plugin manipulating your config?  Things like HotModuleReplacementPlugin (or the `--hot` flag) will convert `entry` to an Array and add items to it.

[2018-06-03 15:58] mattdsteele commented on #4
Just gave this a shot (with `@angular/cli@1.7.4`, as the latest CLI doesn't support eject), and ran into this issue, as there are multiple entries: https://github.com/GoogleChromeLabs/prerender-loader/issues/3

[2018-06-04 19:09] JaceHensley opened #9 "Entry module not found: Error: Can't resolve 'prerender-loader'"
Hey there! So this is probably something I'm doing wrong but I'd appreciate any help.

This is what I have in my `plugins` section
[code]

This is the error I am getting

[code]

I have installed via `yarn add --dev https://github.com/havenchyk/prerender-loader#47a6ec31715930a17ed5eca8d4637f0d57707ed5` (because I need the multiple entry support)

Any help would be great, thank you!

[2018-06-04 20:29] jesperjohansson commented on #9
Try `cd`ing into `node_modules/prerender-loader` and run `yarn` and `yarn build` and then try again

[2018-06-04 20:34] JaceHensley commented on #9
So I get a different error when I do that. During build (within `node_modules/prerender-loader`) I get the following:

[code]

And then when I start my client up I get this:

[code]

[2018-06-04 20:41] jesperjohansson commented on #9
@JaceHensley Do you use `DefinePlugin` in your webpack config? Are you running your client using `yarn webpack-serve`? If yes, does it build if you use only `yarn webpack`?

[2018-06-04 20:43] JaceHensley commented on #9
Yes I am using that plugin right afterwards. I have the project setup via create-react-app and it has been exported.

Could this be do to using `webpack` 3.X and `html-webpack-plugin` 2.X?

[2018-06-04 20:45] JaceHensley commented on #9
And it's served via `webpack-dev-server`

[2018-06-06 17:06] jesperjohansson commented on #9
@JaceHensley Is `prerender-loader.js` in the `node_nodules/prerender-loader/dist` folder?

[2018-06-06 17:17] JaceHensley commented on #9
Yes, after I do `yarn && yarn build` within `node_nodules/prerender-loader/dist`

[2018-06-21 13:18] injms commented on #3
I get this error in a setup with only `webpack` and `HtmlWebPackPlugin` - so no other Webpack plugins are manipulating the config. It's a clean install of everything (aside from Node and NPM) at their latest versions on WSL. (This isn't anything that hasn't been said before, but another point of data might be useful.)

If there's a workaround, would someone be able to give me a hint please? 😄

[2018-07-11 09:58] vaxilicaihouxian commented on #3
same issue.
any one can fix this?

[2018-07-12 05:39] vaxilicaihouxian opened #13 "could you please give us a demo for this loader?"
I try to use this loader for a simple webpack config but not work.
so,could you give us a demo?

[2018-07-12 07:44] vaxilicaihouxian commented on #3
@injms Did you use webpack-dev-server? I met the same issue.And I found 'path.relative(xxx,entry)' that entry is an array.I only use webpack-dev-server and html-webpack-plugin.

here is my config file

[code]

[2018-07-12 09:14] vaxilicaihouxian commented on #13
I have make a demo for it.
[code]
[code]
[code]
[code]

After execute `npm run build` ,it will generate a file : dist/index.html.
In `dist/index.html` will display a div `<div>hello world</div>`

[2018-07-12 09:18] vaxilicaihouxian commented on #13
This demo can not work with webpack-dev-server.Because the `path` arguments issue. #3

[2018-07-12 11:14] developit commented on #13
I have a demo, I'll add it to this repo.

[2018-07-27 16:45] injms commented on #3
@vaxilicaihouxian - yep, I'm using `webpack-dev-server`. If I run `webpack` to build then this will happily render the page, so I'm currently using Nodemon and BrowserSync for my hot-reloading needs.

[2018-07-28 13:38] vaxilicaihouxian commented on #3
@injms I try to change *path.relative(xxx,entry)* to *path.relative(xxx,entry[x])* to fix this only for my development.

[2018-08-28 16:32] achmadk opened #14 "SecurityError: localStorage is not available for opaque origins"
I want to use `prerender-loader` in production build. Because my code used `localStorage` to store and get value data, I got that error.

According to this [issue comment](https://github.com/jsdom/jsdom/issues/2304#issuecomment-408320484), in order to get value of `window.localStorage` object, you have to specify `url` value inside JSDOM constructor options. Maybe `prerender-loader` can provide ad

[2018-09-04 19:55] #14 closed

[2018-09-04 21:05] developit commented on #3
Fixed in [1.1.0](https://github.com/GoogleChromeLabs/prerender-loader/releases/tag/1.1.0). Thanks for all the help!

[2018-09-04 21:05] #3 closed

[2018-09-04 21:05] developit commented on #4
Multiple Entries support has been added in [1.1.0](https://github.com/GoogleChromeLabs/prerender-loader/releases/tag/1.1.0).

[2018-09-04 21:05] #4 closed

[2018-09-04 21:06] developit commented on #6
Update: you can now also configure JSDOM to report custom URLs for `location.href`, etc via the `documentUrl` loader option.

[2018-09-12 14:26] johnstew commented on #6
This is cool 😎

[2018-09-15 06:27] RylanH opened #16 "Module not found. attempted require..."
I get an error when using prerender-loader. It seems to fail with the below error. I traced it to this [line](https://github.com/GoogleChromeLabs/prerender-loader/blob/ce6ad498aa8a87ff84539123f214bf8e6579c442/src/index.js#L188) and it appears that the only keys in `compilation.assets` are `ssr-bundle.js`. Any suggestions?

[code]

[2018-09-15 17:26] isidrok opened #17 "Incorrect hash for dynamic CSS files not using contenthash,"
Hi,  when using `prerender-loader` in conjunction with `mini-css-extract-plugin` there is an error loading CSS imported by `dynamic-chunks` when the hashing strategy is different from `contenthash` for that css file.

In that case, `prerender-loader` outputs a link pointing to a CSS file with a different hash.

Note that this doesn't apply to JS files nor to CSS files imported by the main (entrypo

[2018-09-26 20:19] hugmanrique commented on #16
Does your clientside bundle include the `url` dependency? prerender-loader runs your code under a JSDOM instance, so Node deps are not available.

[2018-10-16 13:29] NirBenya opened #18 "Extracting css/scss on build time"
Hi, The prerender-loader works fine for me except when it comes to css.

In my index.js:
`import './style.scss`

But when I run the build I get this error:

`ERROR in ./web-assets/scss/style.scss Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin, refer to https://github.com/webpack/extract-text-webpack-plugin for the usage example`

webpack.p

[2018-10-17 22:01] nschubach commented on #3
1.1.0 is still giving me this error:

[code]

[code]

I currently just have the one named entry point (the root):
```{ '.': 'src' }```

[2018-10-20 21:15] idudinov commented on #7
Hi there! I was struggling for making templating and pre-rendering work together properly, and realized that the order of file processing should be changed. That seemed to me quite hard to do, so I came up with having a **plugin** instead of **loader**. That allows to render html that has been processed by all loaders, templating stuff etc., and do not interrupt/change the usual flow. Here is my v

[2018-10-23 15:36] c0nd3v opened #19 "React "renderToNodeStream" to increase speed?"
Is it possible to use "renderToNodeStream" to increase the build time?

[2018-10-26 16:28] hugmanrique commented on #18
As the error mentions, the `extract-text-plugin` webpack plugin requires both a plugin instance (passed to the `plugins` array by creating an `ExtractTextPlugin` instance) and as a loader.

You can check their [docs](https://github.com/webpack/extract-text-webpack-plugin) for additional information.

[2018-10-26 19:35] NirBenya commented on #18
@hugmanrique , as can be seen in the attached code I am using `extract-text-plugin` both in the plugins object and the loaders object. or am I missing something?

[2018-10-26 19:36] silvenon commented on #16
This seems to happen when using prerender-loader with webpack-dev-server, I created [a very simple demo](https://github.com/silvenon/demo-prerender-loader), `yarn start` will start the server.

I'm trying to figure out what the complete workflow with prerender-loader should be. If the entry point exports a function that only executes at build time, how does the application run on the client?

[2018-10-26 20:10] hugmanrique commented on #18
Whoops! Sorry I missed that. Have you tried passing the `HtmlLoaderPlugin` instance after the `ExtractTextPlugin` one on the `plugins` array?

[2018-10-26 20:12] hugmanrique commented on #16
I know this is a real issue, but this plugin isn't designed to be used in development mode (with hot-reloading libraries): you should only need to apply it on a production build (with no added code from webpack hot-reloading libraries)

[2018-10-26 21:38] silvenon commented on #16
I assumed that initially, but the readme says "works with webpack-dev-server" and the library uses Webpack's entry point by default, which was supposed to be for client code. The only way how I got both prerender and client code to work is to duplicate the render call:

[code]

Is that how it's supposed to be used? I'm not confused too much about the duplicated call, I know that the contents of th

[2018-10-31 04:54] developit commented on #17
This should be fixed now as long as you upgrade to the latest (0.4.4) mini-css-extract-plugin!

[2018-10-31 04:55] developit commented on #18
Hi @NirBenya - can you try with the latest update I just published? Cheers.

[2018-10-31 06:43] MikaAK commented on #6
I've tried with multiple `HtmlWebpackPlugins` and I get a fair amount of errors. Is there a way to tell it to emit one ssr-bundle.js file?
[code]

[code]

[2018-10-31 09:36] NirBenya commented on #18
@developit , thanks a lot but it still doesn't work. it throws the same error, I'll add this html file output:

[code]

[2018-11-02 18:16] developit commented on #17
Closing since you gave it a thumbs up - let me know if you're still hitting issues!

[2018-11-02 18:16] #17 closed

[2018-11-02 18:21] developit commented on #18
Perhaps we need to whitelist ExtractTextPlugin here like we do for MiniCssExtractPlugin?

https://github.com/GoogleChromeLabs/prerender-loader/blob/317993c3d91de937387afc19e8d13cca33539119/src/index.js#L104

[2018-11-02 23:34] idudinov commented on #7
Well, I see Webpack philosophy as a way when some new content/assets produced by plugins, but loaders just transform assets to another representation.
Initial idea of `prerender-loader` seems to me being a loader, which transforms html page to rendered html page. But this issue just demonstrates that in some cases build pipeline would not accept prerendering logic as loader step.
I think there cou

[2018-11-04 13:35] isidrok commented on #17
Just tried with the new version of mini-css-extract-plugin and neither critters nor prerender-loader output any error but the referenced css file is still incorrect for dynamically imported modules.

If I remove prerender-loader and just use Critters the following error is thrown:
`TypeError: Cannot read property 'textContent' of undefined`.

The css file referenced in the bundle under the comment

[2018-11-04 17:21] isidrok commented on #17
Summarizing the previous comment:

Since prerender-loader is creating a new compilation when using a hash different from `contenthash` it changes during that specific build and doesn't reference real assets, which have the hash of the original compilation.

[2018-11-25 16:56] NirBenya commented on #18
@developit I published a PR on this.
https://github.com/NirBenya/prerender-loader/commit/ecb5500af18045aec995d42ce1888673c748fc99

[2018-11-27 20:31] agonzalezmurua opened #21 "TypeError: document.getElementsByTagName(...)[0].insertAdjacentElement is not a function"
I was trying to implement this loader by following the instruction provided in the readme but when trying to bundle in production I'm getting this error:

[code]

[2018-11-29 23:54] ezekielchentnik opened #23 "React v16.7.0-alpha, hooks"
Something up with the latest react hooks stuff.  I'm trying to narrow it down but no luck so far.

`Error: Uncaught [TypeError: Cannot read property 'network' of null]`

`result = window.eval(output + '\nPRERENDER_RESULT');`

[2018-11-30 00:12] ezekielchentnik opened #24 "'PRERENDER' in template.html"
is there a way to access 'PRERENDER' env variable inside a regular template.html?

[code]

[2018-12-03 19:17] developit commented on #23
Seems like to be a syntax error. What version of Node are you running?

[2018-12-03 19:19] developit commented on #24
Hmm - I think it should be there?  That gets into one of the weirder issues with `DefinePlugin` - it leaks into parent compiler instances, but perhaps it doesn't leak into sibling compilers? If so then there's no way to have that variable exposed to your template.

[2018-12-03 19:23] developit commented on #21
Something you're using is inserting an element as a side-effect.
My guess is that it's something you're using for styling, like `style-loader` or `styled-components`.
Can you provide details on what you're trying to render or what tech you're using?

[2018-12-03 20:48] ezekielchentnik commented on #23
node 11.3.0

[2018-12-03 20:54] ezekielchentnik commented on #23
My prerender entry is running regular react-dom render

[code]

[2018-12-03 20:58] ezekielchentnik commented on #24
thx, I'll give it a try, the 'PRERENDER' provided inside the plugin doesn't seem to be available

[2018-12-04 16:46] agonzalezmurua commented on #21
I'm utilizing `react` with a custom component library which uses `styled-components`
It seems that styled components is the root of the problem because as soon as I removed the library the project started compiling, does it mean that I cannot use `styled-components`?

[2018-12-10 09:06] he5050 opened #25 "Child compilation failed"
[code]
Error Info
[code]

[2018-12-18 09:54] andybflynn commented on #6
For anyone arriving here after I did, I had to make a few additions and changes to the code above to make route rendering work for me (I'm using `react-router-dom`)

1. I didn't have to URI encode the JSON params when inlining the loader:
[code]

2. I had to modify my index.js file to export a StaticRouter rendering so I could pass the url param as the location prop:

[code]

Hope this helps!

[2018-12-19 10:32] borisyordanov commented on #6
@andybflynn Can you give us a walk through what we need to do to emulate your setup for my project? Why do you have a slash at the end of `/about/` in your urls?

I used the same code for the webpack.config.js:
[code]
And this is what my index file looks like (i'm using typescript)
[code]

Starting or building the app (and then serving it) doesn't seem to make any difference in how the app works.

[2018-12-19 16:40] andybflynn commented on #6
@borisyordanov The only reason I had the forward slash at the end of `/about/` was so that I didn't have to put the slash in the filename, i.e.
[code]
instead of
[code]

As long as your `<App />` component contains the `<Route>` components that you want to render then your setup appears to be the same as mine. I didn't have to do anything else to get it working. Adding the default export was the b

[2018-12-30 12:53] NirBenya commented on #18
@developit it this version published to npm?

[2019-01-09 20:41] badpenguin opened #26 "is there a way to render content inside the HEAD of the template?"
I was able to configure webpack to render multiple pages.

I just miss the chance to dynamically modify the HEAD tag to add, via React, the title, SEO tags and maybe additional custom tags like canonical and other stuffs (preload, fonts, etc.).

I don't want to do it manually in every html page but i wish to pre-render them as well.

Is there a way to accomplish this?

[2019-01-10 08:43] sukazavr opened #27 "webpack hangs forever after compilation if prerender-loader present in configuration"
Hello!
The issue is described in title :-)
If I do remove prerender-loader from conf, webpack compilation finished instantly as expected, for this reason I associate the issue with `prerender-loader`.

Here is my webpack prod config:
[code]

webpack.common.ts
[code]

prerender.ts
[code]

[2019-01-15 13:58] MikeRock opened #28 "ES6 support"
Hello.

I'm currently using webpack to generate a separate legacy bundle that transpiles to ES5 and a modern bundle that supports ES6 syntax without the need for transpiling code

As far as the build goes I run the same build two times with different browserslist configs by setting BROWSERSLIST_ENV variable.

I run a prerender function that uses async/Promise.

The build fails on the modern part w

[2019-01-26 19:20] chiboreache commented on #25
+1

[code]

I just added `template: '!!prerender-loader?string!index.html',` into my `webpack.prod.conf.js`

[2019-02-03 11:01] kradalby commented on #25
I have a similar in my build environment, but not on my laptop. When ran in a node:10 container it fails, but not on my Mac

[2019-02-03 11:21] chiboreache commented on #25
@kradalby Nuxt.js just work ;)

[2019-02-03 11:38] kradalby commented on #25
Scratch it, my issue was https://github.com/vuejs/vue-cli/issues/3407#issuecomment-459985313

Which was a underlying dependency, sorry about that.

[2019-02-12 02:07] edwardfhsiao commented on #16
some libraries we rely on do have some issues with ```attempted require("url")``` ```attempted require("util")```  ```attempted require("crypto")``` problem.
How to fix it? Do ```prerender-loader``` have conditional escaping?
Like
[code]

[2019-02-12 02:46] edwardfhsiao commented on #16
Ok for now, I am doing something like this
[code]

[2019-02-12 04:43] edwardfhsiao opened #29 "Error: Conflict: Multiple chunks emit assets to the same filename ssr-bundle.js"
Hi, I have encountered this problem when I was trying to create multiple html files with multiple entries.
[code]

[code]

I have tried below but doesnt make any difference.
[code]

[code]
node v11.9.0.

Any ideas?

[2019-02-13 04:25] edwardfhsiao commented on #29
testing repo https://github.com/edwardfhsiao/prerender-loader-test-repo
[code]

[2019-02-13 06:38] edwardfhsiao commented on #6
@mikefowler , have you solved this issue? I opened one for this.
 https://github.com/GoogleChromeLabs/prerender-loader/issues/29

[2019-02-22 13:32] developit commented on #25
When using multiple webpack entries, you must tell prerender-loader which to include:

[code]

[2019-02-22 13:36] developit commented on #28
Hello,

The error here isn't actually in prerender-loader, that's just where it's because caught:
https://github.com/GoogleChromeLabs/prerender-loader/blob/master/src/util.js#L30-L34

It looks like a bad interaction between `worker-farm` and `uglifyjs-webpack-plugin`.

FWIW `uglifyjs-webpack-plugin` does not support modern JS. You might find switching to `terser-webpack-plugin` fixes your issue.

[2019-02-22 13:36] #28 closed

[2019-02-22 13:45] developit commented on #26
Use react-helmet or similar:

[code]

[code]

[code]

For preloading fonts I'd recommend using a less direct solution than injecting them into the head. Perhaps [critters](https://github.com/googlechromelabs/critters].

[2019-02-22 13:50] developit commented on #23
Did you ever find the root cause for this?  There isn't really anything in prerender-loader that seems like it would cause this. Maybe it's an issue with React 16.7 + JSDOM?

[2019-02-22 13:56] developit commented on #16
FWIW, I would not recommend using `prerender-loader` in combination `with webpack-dev-server`.

[code]

[2019-02-22 13:58] developit commented on #16
Regarding conditional escaping, you can do this:

[code]

[2019-02-22 14:00] developit commented on #24
IIRC you can use `self.PRERENDER`

[2019-02-22 14:00] badpenguin commented on #26
Thanks!

[2019-02-22 14:00] #26 closed

[2019-02-22 14:01] developit commented on #16
I've added a fallback to Node require() so this should work now.

[2019-02-22 14:09] edwardfhsiao commented on #16
Thanks for your heads up. I’m aware that it should not work with webpack-dev-server.

I’m still struggling with multiple entries issue though, hope you can help me with it.

https://github.com/GoogleChromeLabs/prerender-loader/issues/29

[2019-02-22 14:10] #16 closed

[2019-02-22 14:11] developit commented on #27
Expected, but we should probably guard against that!

[2019-02-22 14:13] developit commented on #17
That makes sense. Perhaps it'd be worth having the plugin warn when `[hash]` is used.

[2019-02-22 14:15] developit commented on #16
@edwardfhsiao I'll take a look.

[2019-02-22 14:19] developit commented on #29
I'm wondering if removing the cache inheritance would fix this:
https://github.com/GoogleChromeLabs/prerender-loader/blob/master/src/index.js#L131-L143

[2019-02-22 14:33] developit commented on #29
I think I found the issue, I was using `os.tmpdir()`, but had meant to use `fs.mkdtempSync()`.

[2019-02-22 15:04] developit commented on #29
@edwardfhsiao alright, I figured out the issue with the demo you linked above:  it's a duplicate of #25, and the [solution I posted there](https://github.com/GoogleChromeLabs/prerender-loader/issues/25#issuecomment-466397030) a couple hours ago works here too:

[code]

[2019-02-22 15:51] edwardfhsiao commented on #29
Awesome, that solved my problem. Really appreciated your help!

[2019-02-22 15:51] #29 closed

[2019-02-22 16:06] edwardfhsiao commented on #23
I'm using 16.8.0-alpha.0 and hooks, does not seem any weirdness yet. Everything works fine.

[2019-03-20 21:16] JaceHensley opened #32 "ECONNREFUSED 127.0.0.1:80"
I'm trying to set this up for a react+TS project. I have my main entry point set up like this:

[code]

And when trying to prerender I get the following error:

[code]

And my webpack.config.js looks like this:

[code]

I feel like it's really close to working for me, but I'm not sure where to look from here. My prod webpack config doesn't use webpack-dev-server/webpack-serve, not sure if that's n

[2019-03-21 15:02] baoyouwangning opened #33 "It doesn't seem to support the latest version of html-webpack-plugin"
"html-webpack-plugin": "^4.0.0-beta.5"

[2019-03-21 16:14] JaceHensley commented on #32
Closing this, the cause was I am using localForage in the app but wasn't escaping from it during pre-rendering so JSDOM was, I assume, panicking and exiting.

[2019-03-21 16:14] #32 closed

[2019-04-26 03:53] Feverqwe opened #34 "Not run renderer when webpack in watch mode"
I use something like
[code]

And when I change something, HtmlWebpackPlugin don't run renderer.

Now I fix it with simple plugin ([source code](https://github.com/Feverqwe/cacheDependencyLoader/blob/master/index.js))
And use it like, and if fix problem
[code]

[2019-04-28 02:35] edwardfhsiao commented on #6
For people who may have the same issue.
I have created a successful working example with react and multi-entry
https://github.com/edwardfhsiao/prerender-loader-test-repo

[2019-05-03 20:28] northamerican commented on #29
@edwardfhsiao  @developit

This issue may have to be looked at again. The error still occurs if using the `{{prerender}}` in the template tag as specified in the docs:
https://github.com/GoogleChromeLabs/prerender-loader#injecting-content-into-the-html

I spent many hours trying to debug our config and was still getting the multiple chunks error until i realized this.

To replicate, replace the te

[2019-05-05 02:24] edwardfhsiao commented on #29
@northamerican ```<%= htmlWebpackPlugin.options.title %>```just comes from
[code]
It is a format of HtmlWebpackPlugin, which does not really matter in this case.

As for the multiple entry issues, I guess still need @developit 's help.

[2019-05-23 19:08] ak64th opened #36 "Injecting content doesn't work"
Webpack config

[code]

Template
[code]

Entrypoint
[code]

When I run webpack, get
[code]

I changed the exported function to
[code]
The build completed without error. But I don't know if it's the right way to use this loader.

[2019-06-25 07:22] mthines opened #37 "TypeError: Cannot read property 'hash' of undefined"
Hey!
Awesome project!

#### I've been trying to setup the prerender, but i keep getting the following error:

[code]

<details><summary>Show full error message</summary>
<p>

[code]

</p>
</details>

#### My setup
I'm using CRA 3, Typescript and the Html Webpack Plugin.
I've installed the module with Yarn, and double checked it's in the `package.json` and in the actually `node_modules` folder.

[c

[2019-09-13 17:30] Bastorx opened #38 "ReferenceError when external resources loaded"
Error :

[code]

In Index.html

[code]

In my Component :

[code]

The problem is, I'm loading typescript from a <script> and it's not in node_modules. Then He's saying that $ is not defined

I'm using typescript

And in my index.d.ts

[code]

[2019-09-13 23:18] Bastorx commented on #38
Almost fixed when add

If (typeof $ !== "undefined")

[2019-10-17 00:21] vitaliyhayda commented on #37
same issue

[2019-10-19 14:46] vitaliyhayda commented on #37
After correctly specifying **entry**, I was able to get another error:
[code]

[2019-10-25 19:54] devrelm commented on #34
Looks like this could actually be fixed via #39?

[2019-11-03 22:24] mitinarseny opened #40 "SyntaxError: The URL 'http:/ sockjs-node' is invalid"
Fails even if installled only (via `yarn add --dev prerender-loader`) and with following code (commented is really commented):
[code]
Produces error when `webpack --mode production` and open file in browser or `webpack-dev-server --mode development` and navigate to `localhost:8080`:
[code]

## Info
<details><summary>yarn info webpack</summary>
<p>

[code]

</p>
</details>

[2019-11-05 11:40] iabukhouski commented on #40
@mitinarseny
I had a similar issue, after debugging the internals of this lib I was able to work around this issue by specifying `entry` as under the `options` of the loader

Example:
[code]

[2019-11-07 03:04] ysk2014 opened #41 "How does this work with vue?"
How does this work with vue?

[2020-01-19 12:18] buroburoburo opened #42 "Trying to write a script for a discord bot to play music"
Hi, I'm still learning how to code so please bear with me. As the title reads, I'm having issues with a custom bot. It joins the voice channel when i provide a prefix and link but doesn't play the music, instead it sits idle and pops this error message in my terminal;
`TypeError [ERR_INVALID_ARG_TYPE]: The "file" argument must be of type string. Received type object
TypeError [ERR_INVALID_ARG_TYPE

[2020-03-06 20:14] PeteSolid opened #43 "Remove Prerendered JavaScript"
Hi,
this works and generates the rendered HTML, the JS stays the same however. Is there a way to remove all the render calls in the JS/TS files after the inline-loader?

[2020-03-24 14:36] dunal opened #44 "Jsdom is obsolete"
Hi!
Required jsdom@11 does not support some Element's methods, for example `.insertAdjacentText`.
Can this dependency be upgraded?

[2020-03-25 08:55] gujral1997 commented on #9
I am facing the same issue and unable to fix it. Any progress on this?
PS: I am getting `Error: Plugin 'jsx' not found` when I do `yarn build` inside  `node_modules/prerender-loader`

[2020-03-30 03:02] SkipKayhil opened #45 "Error running npm build"
[code]

I'm interested in creating a PR to not stub out `requestAnimationFrame`, as this prevents me using this with [hyperapp](https://github.com/JorgeBucaran/hyperapp), which uses `requestAnimationFrame` for rendering. However, I have been unable to build this with microbundle.

[2020-04-07 10:23] grzegorz-jakubiak opened #47 "Is this project abandoned? No PR's merged or versions released in a year!"
Hey! I've come across this project recently and it's very useful but there's been no release since last February. Has this project been abandoned? @developit  any chance of merging existing PR's and new releases? I submitted a PR to update `jsdom` https://github.com/GoogleChromeLabs/prerender-loader/pull/46.

[2020-04-08 09:36] shuwenjunn commented on #37
Have you fixed it

[2020-04-18 17:46] grzegorz-jakubiak opened #49 "npm build with webpack hangs but the build is finished and successful"
After adding `prerender-loader` to my production build `npm run build` hangs after the job is finished(and the build is successful with prerendering done) and requires manual <kbd>ctrl</kbd>+<kbd>c</kbd> whereas without it builds and returns the prompt. Below `package.json`, `webpack.config.js` and terminal output.

Package.json
[code]

Console output
[code]

webpack config
[code]

[2020-04-23 19:39] vladlavrik opened #50 "Not working "templateParameters" when prerender-loader used"
Minimal code to reproduce:

`webpack.config.js`
[code]

[code]

[2020-05-12 14:08] firebluetom2 commented on #25
Conflict: Multiple chunks emit assets to the same filename ssr-bundle.js (chunks other and example)

[2020-05-17 14:47] wojtekmaj commented on #44
Fixed in #46, waiting for merge...

[2020-05-18 11:31] vzaidman commented on #50
workaround:

add `temporary-template-params-loader.js` near `webpack.config.js`:
[code]
then in `webpack.config.js`:

in rules:

[code]

plugin:

[code]

[2020-05-18 14:25] wojtekmaj commented on #50
Actually, since https://github.com/jantimon/html-webpack-plugin/pull/972 html-webpack-plugin loader has `force` flag that skips the very `if()` you aimed to delete. So it could be as easy as to add `force: true`. 🤔

[2020-05-18 15:20] vzaidman commented on #50
right!
it turns out I had an old version (3.2) of the plugin.
in newer versions you can use the loader from `html-webpack-plugin`:

so in `webpack.config.js`:

in rules:

[code]

plugin:

[code]

[2020-05-23 10:49] FabienGreard commented on #49
Hi, Did you check that there is no loop in your code such as `setInterval`?

[2020-05-25 07:48] grzegorz-jakubiak commented on #49
yes I did and there is no `setInterval` in the code I mean at least in my code can't really account for dependencies 😉

[2020-06-08 13:05] absamo commented on #49
Hi @grzegorz-jakubiak I have the same issue. Did you found a solution?

[2020-06-10 12:57] PatNeedham opened #52 "Presence of `{{prerender}}` inside html template causes error"
My `/src/template.html` file looks like this:
[code]

And this is my `webpack.config.js`:
[code]

That config leads to the `Conflict: Multiple chunks emit assets to the same filename ssr-bundle.js` found in a few other issues.

However, by removing the `{{prerender}}` part from the html template, `npx webpack` command completes successfully. The only problem is that inside the three generated html

[2020-07-17 11:02] PLQin commented on #37
see  https://github.com/mzgoddard/hard-source-webpack-plugin/issues/416

It might solve your problem

[2020-08-10 18:30] Hypnosphi commented on #37
@PLQin I tried `rm -rf node_modules/.cache` as suggested there, but it doesn't fix the problem

@vitaliyhayda how exactly did you fix your entry?

[2020-11-22 14:34] ahuglajbclajep commented on #40
You can also write like this without using `test`.

[code]

[2020-11-23 03:23] ahuglajbclajep commented on #40
This problem can also be avoided by writing `export default` in another file.
This way, the output will not contain the contents of `export default` as in #43.
See also: https://github.com/GoogleChromeLabs/prerender-loader/issues/7#issuecomment-393674863.

Note: `import React from "react";` is not required when using [react/jsx-runtime](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-t

[2021-01-03 12:23] ziven27 opened #53 "Cannot find module 'webpack/lib/MultiEntryPlugin'"
-  "prerender-loader": "^1.3.0",
  - "webpack": "^5.3.2",
  - "webpack-cli": "^3.3.12",

![image](https://user-images.githubusercontent.com/7261176/103478388-4be27c00-4e01-11eb-937e-6b8baa3ff656.png)

when I run webpack it turn out this.
I can not find `webpack/lib/MultiEntryPlugin`in webpack5 lib.
but how to fix this?

[2021-01-04 18:44] dwoznicki commented on #53
It looks like webpack 5 has deprecated the MultiEntryPlugin. The fix isn't too bad, but there's several other changes in webpack 5 that break this plugin. I have a working fork up at https://github.com/nettoolkit/prerender-loader, but I've only tested it for my project.

[2021-01-05 11:35] ziven27 commented on #53
thx for your answer

[2021-01-06 11:25] #37 closed

[2021-01-21 03:51] edwardfhsiao commented on #53
Is there any plan on supporting webpack 5? :thought_balloon:  @developit

[2021-02-25 23:07] dakotaewigman commented on #53
@dwoznicki Any plans to publish this package, since this project seems dead?

[2021-02-26 00:29] developit commented on #53
This project isn't dead, the fork just needs to be a Pull Request.

[2021-02-26 01:35] dwoznicki commented on #53
@developit I can make a PR for my fork, but I have a number of additional changes that are unrelated to the Webpack 5 upgrade. Is that okay?

[2021-02-26 02:27] developit commented on #53
That makes it a bit more difficult. I'm assuming these are functional changes?

[2021-02-26 02:37] dwoznicki commented on #53
Well, it's a mixed bag. Off the top of my head, the other changes I've made include:
- fix for #51
- removed microbundle as a dependency (I can't build the current version due to developit/microbundle#74)
- various dependency upgrades

[2021-05-15 18:12] rootlinux2 commented on #53
Hi guys, any update here?

[2021-09-07 13:54] snowinmars commented on #53
Upgrading webpack is so painfull. But awaiting for PR is pure suffering.
Wazup?

[2021-09-07 19:48] dwoznicki commented on #53
@developit It looks like I'm no longer blocked by developit/microbundle#74, so I'll look into making my fork into a PR.

I'd really like to do something about #51 though. I can't incorporate prerender-loader into my project without this fix, so even if I submit a webpack 5 patch, I'll still need to keep using my fork. Is there something I could do to get this fix merged?

[2021-09-08 06:45] snowinmars commented on #53
@dwoznicki , I'm fine using your fork, but can't find `@nettoolkit/prerender-loader` at npmjs.

Can you push it into public repo as temporary workaround?

[2021-09-08 17:42] dwoznicki commented on #53
Have you tried referencing the GitHub repo in your package.json? I currently have the following line in my dependencies to keep `prerender-loader` up-to-date:

[code]

[2021-09-09 07:52] snowinmars commented on #53
Wtf, I can do this? Lol.
/ () __ () \

[2021-09-11 22:13] ajukraine commented on #53
@dwoznicki thank you so much for the fix! it seems that `prerender-loader` is the only working webpack5 tool to generate static files. Others (https://github.com/markdalgleish/static-site-generator-webpack-plugin) didn't work for me.

It's quite sad that most of such tools are getting deprecated in favour of heavyweight frameworks like Gatsby or Next.js

[2021-11-05 18:49] jmbastidas commented on #53
Any news on this one?

[2022-04-15 00:06] ernie-h commented on #53
Sadly seems dead :(

[2022-04-22 02:55] ernie-h commented on #26
Sorry to bring this up after so long @developit, but I found this thread very helpful. I had a question regarding where your client side rendering file is in all this (i.e `index.js`). Where do you actually call `ReactDOM.render(<App />, document.getElementById("approot"))`? I'm getting an error in my entry file for webpack where I call :
[code]
Error is :
`Error: Target container is not a DOM ele

[2022-04-25 14:23] developit commented on #26
@ernie-h the most common approach is to conditionally call render:

[code]

[2022-06-30 10:59] jonathanobino commented on #53
Can someone ping a maintainer of this repo to fix the compatibility with webpack 5?